.card{
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 20px #51ADE5;
  border-radius: 20px;
  padding: 10px;
  animation: shine infinite 3s ;
}

@keyframes shine {
  0%{
    box-shadow: 0 4px 20px #51ADE5;
  }
  50%{
    box-shadow: 7px 7px 30px #62aad5;
  }
  100%{
    box-shadow: 0 4px 20px #51ADE5;
  }
}