@import "styles/screen";
.wrap{
  position: relative;
  height: 150px;

  @include medium{
    height: 250px;
  }
  @include tablet{
    display: none;
  }
}
.content{
  position: absolute;
  left: 0;
  top: -100px;

  display: flex;
  gap: 50px;
  @include large{
    gap: 10px;
  }

  @include medium{
    position: static;
  }


  .list{
    display: flex;
    width: 100%;

    @include medium{
      justify-content: space-between;
    }

    &Item{
      width: 300px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      color: var(--white);


      @include large{
        max-width: 300px;
        width: 100%;
      }
      @include tablet{
        //width: 500px;

      }



      &Icon{
        margin-bottom: 15px;
        height: 60px;
      }
      &Title{
        font-size: 46px;
        font-weight: 600;
        text-transform: uppercase;
      }
      &Description{
        font-size: 16px;
        font-weight: 200;
        text-transform: uppercase;
      }
    }
  }
  .team{
    display: flex;
    align-items: center;
    gap: 20px;
    height: 60px;
    align-self: flex-end;
    margin-bottom: 30px;

    @include medium{
      display: none;
    }


    &Icon{
      background: var(--primary);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
    }

    &Content{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      &Label{
        font-size: 16px;
        font-weight: 200;
        color: var(--gray);

      }
      &Title{
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;

      }
    }
  }
}