@import "styles/screen";
.block{
  width: 100%;
  height: 100%;
  position: relative;
  padding: 10px 20px;
  //z-index: -5;

  @include medium{
    //height: 350px;
  }



  .wrap{
    display: flex;
    justify-content: center;
  }

  .content{
    margin-top: 50px;
    z-index: 5;
    color: var(--white);

    @include mobile{
      margin-top: 5px;
    }




    .sendSuccess{
      margin: 70px 0;
      color: var(--primary);
      font-weight: 700;
      font-size: 20px;
      text-align: center;
    }

    .title{
      font-family: 'Poppins', 'sans-serif';
      font-weight: 700;
      font-size: 28px;
      line-height: 27px;
      text-align: center;
      color: var(--white);

      @include large{
        font-size: 24px;
      }
      //@include tablet{
      //  font-size: 34px;
      //}
      //
      //@include mobile{
      //  font-size: 22px;
      //}


    }
    .subTitle{
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      color: rgba(255, 255, 255, 0.9);
      margin: 50px 0 20px;

    }
    .form{
      width: 100%;
      display: grid;
      box-sizing: border-box;
      gap: 10px;

      @include medium{
        flex-direction: column;
        align-items: center;
        padding: 0 10px;

      }


      .input{
        height: 50px;
        background: var(--white);
        border: 2px solid transparent;
        border-radius: 5px;

        padding: 0 20px;

        @include medium{
          width: 80%;
        }


        &::placeholder{
          font-weight: 400;
          font-size: 14px;
          color: rgba(0, 0, 0, 0.3);
        }


        &:focus{
          outline:none;
        }

      }
      .errorInput{
        border: 2px solid var(--red);
        color: var(--red);
      }
      .submit{
        margin-top: 10px;
        text-transform: uppercase;
        justify-self: center;
        width: 70%;
        cursor: pointer;
        background: var(--secondary);
        color: var(--white);
        border-radius: 10px;
        padding: 15px 30px;
        font-weight: 600;
        position: relative;
        overflow: hidden;
        border: none;

        &:hover{
          background: var(--primary);
        }

        &:before{
          content: "";
          position: absolute;
          top: -3px;
          left: -3px;
          width: 2rem;
          height: 150%;
          background: rgba(255, 252, 252, 0.4);
          transform: translateX(-4em) skewX(-45deg);
          animation: glareAnimation 3s infinite linear;
        }
        &:hover:before{
          animation:none;
        }

        @include medium{
          width: 50%;
          padding: 20px;
        }
        @include mobile{
          width: 100%;
          //padding: 10px;
          //font-size: 10px;
        }

        &:hover{
          background: var(--primary);
        }
      }
    }
    .text{
        margin-top: 20px;
        padding: 0 20px;
        color: var(--yellowLight)
    }
  }
}


.preloader {
  width: 100%;
  display: flex;
  justify-content: center;
}

.loader {
  display: block;
  justify-self: center;
  position: absolute;
  border: 16px solid var(--primary);
  border-top: 16px solid var(--white);
  border-radius: 50%;
  width: 75px;
  height: 75px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes glareAnimation {
  0%, 10%, 15%, 20%, 25%, 30%, 35%, 40%, 45%, 50%, 75%{
    transform: translateX(-4em) skewX(-45deg);
  }
  100%{
    transform: translateX(15em) skewX(-45deg);
  }
}
